*.dll
*.obj
*.exe
*.cfg
*.pro
*.pro.*
*.docx
*Makefile
Dependencies/*
release/*
bin/*
lib/*
debug/*
src/ogre-assimp/CMakeFiles/
src\moc_*
CMakeCache.txt*
CMakeFiles/
moc_*
ui_files/
ui_*
*.log
*.cmake
*.user
*.qtc_clangd*
_CPack_Packages/*
_deps/*
*_autogen/*
