[Desktop Entry]
Name=QtMeshEditor
Comment=Open and inspect 3D models (FBX, glTF, OBJ, and more)
GenericName=3D Model Viewer
Keywords=3D;mesh;FBX;glTF;model;animation;viewer;
Exec=qtmesheditor %F
Icon=qtmesheditor
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=model/gltf+json;model/gltf-binary;model/obj;model/stl;application/vnd.collada+xml;application/vnd.ms-fbx;application/x-ogre-mesh;application/x-ps1-rsd;application/x-ps1-tmd;application/x-qtmesheditor-scene;model/vnd.ply;
